<%- include('layouts/header'); -%>

<h2>Sorry! The page you are looking for does not exist. Please, click in the link below to be redirected to our page</h2>

<%- include('layouts/navbar'); -%>

<%- include('layouts/footer'); -%>

<%- include('layouts/script'); -%>